<template>
    <div>
       <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item><a href="/">商品管理</a></el-breadcrumb-item>
          <el-breadcrumb-item>分类参数</el-breadcrumb-item>
       </el-breadcrumb>
       <el-card class="box-card">
           <el-alert
            title="注意：只允许为第三级分类设置相关参数！"
            type="warning"
            show-icon
            :closable="false"
           ></el-alert>
           <div>
               <span>请选择商品分类：</span>
                <el-cascader class="cate_cascader"
                v-model="cateVaule"
                :options="pcateList"
                :props="{ expandTrigger: 'hover',value:'cat_id',label:'cat_name',children:'children'}"
                clearable
                @change="parentCateChange"
                style="width:30%">
                </el-cascader>
           </div>
            <el-tabs v-model="activeTabName" @tab-click="getPropData" >
               <el-tab-pane label="动态参数" name="many" :disabled="tabPanable" >
                   <el-button  class="add_button" type="primary" @click="addPropDialogVisible = true" :disabled="tabPanable">添加参数</el-button>
               </el-tab-pane>
               <el-tab-pane label="静态属性" name="only" :disabled="tabPanable">
                   <el-button  class="add_button" type="primary" @click="addPropDialogVisible = true" :disabled="tabPanable">添加属性</el-button>
               </el-tab-pane>
            </el-tabs>
            <!--数据展示-->
            <!-- 动态参数 -->
             <el-table
                :data="manyTableData"
                border
                row-key="attr_id"
                style="width: 100%"
                v-if="activeTabName==='many'"
                >
                 <el-table-column  type="expand">
                     <template v-slot="scope">
                         <el-tag v-for="(item,index) in scope.row.attr_vals" :key="index" 
                         closable
                         :disable-transitions="false"
                         @close="handleClose(index,scope.row)">{{item}}</el-tag>
                         <el-input
                          class="input-new-tag"
                          v-if="scope.row.inputVisible"
                          v-model="scope.row.inputValue"
                          ref="saveTagInput"
                          size="small"
                          @keyup.enter="handleInputConfirm(scope.row)"
                          @blur="handleInputConfirm(scope.row)"
                        >
                       </el-input>
                       <el-button  v-else class="button-new-tag" size="small" @click="showInput(scope.row)">+ New Tag</el-button>
                     </template>
                 </el-table-column>
                 <el-table-column  type="index" label="#" ></el-table-column>
                 <el-table-column prop="attr_name" label="参数名称"  align="center"> </el-table-column>
                 <el-table-column label="操作" width="300px" align="center">
                    <template v-slot="" >
                        <el-button size="mini" type="primary" icon="el-icon-edit"  round >编辑</el-button>
                        <el-button size="mini" type="danger" icon="el-icon-delete"  round >删除</el-button>
                     </template>
                 </el-table-column>
               </el-table> 
               <!-- 静态参数 -->
             <el-table
                :data="onlyTableData"
                border
                row-key="attr_id"
                style="width: 100%"
                v-if="activeTabName==='only'"
                >
                 <el-table-column  type="expand">
                     <template v-slot="scope">
                         <el-tag v-for="(item,index) in scope.row.attr_vals" :key="index" 
                         closable
                         :disable-transitions="false"
                         @close="handleClose(index,scope.row)">{{item}}</el-tag>
                         <el-input
                          class="input-new-tag"
                          v-if="scope.row.inputVisible"
                          v-model="scope.row.inputValue"
                          ref="saveTagInput"
                          size="small"
                          @keyup.enter="handleInputConfirm(scope.row)"
                          @blur="handleInputConfirm(scope.row)"
                        >
                       </el-input>
                       <el-button  v-else class="button-new-tag" size="small" @click="showInput(scope.row)">+ New Tag</el-button>
                     </template>
                 </el-table-column>
                 <el-table-column  type="index" label="#" ></el-table-column>
                 <el-table-column prop="attr_name" label="参数名称"  align="center"> </el-table-column>
                 <el-table-column label="操作" width="300px" align="center">
                    <template v-slot="" >
                        <el-button size="mini" type="primary" icon="el-icon-edit"  round >编辑</el-button>
                        <el-button size="mini" type="danger" icon="el-icon-delete"  round >删除</el-button>
                     </template>
                 </el-table-column>
               </el-table>   
       </el-card>
     <!-- 增加参数对话框 -->
      <el-dialog
        :title="activeTabName === 'many' ? '添加动态参数':'添加静态属性'"
        v-model="addPropDialogVisible"
        width="30%"
        center
        @close="resetAddAttrDialog"
        >
        <el-form ref="addAttrForm" :rules="rules" :model="attrTemp" label-position="left" label-width="120px" style="width:100%">
            <el-form-item :label="activeTabName === 'many' ? '动态参数名称:':'静态属性名称:'" prop="attr_name" style="width:100%">
                <el-input v-model="attrTemp.attr_name" class="attr_input" />
             </el-form-item>
         </el-form>
         <template v-slot:footer class="dialog-footer"> 
             <div >
               <el-button  @click="addPropDialogVisible = false">取 消</el-button>
               <el-button   type="primary" @click="AddCateAttrInfo">确 定</el-button> 
             </div>
          </template>
      </el-dialog>
    </div>
</template>
<script>
import{getGoodsData,getPropList,AddPropValue,AddPropTagData} from '@/api/goods.js'
export default {
    data(){
        return{
          pcateList:[],
          cateVaule:[],
          activeTabName: 'many',
          manyTableData:[],
          onlyTableData:[],
          addPropDialogVisible:false,
          attrTemp:{
              attr_name:'',
          },
          rules: {
           attr_name:[{required: true, message: '参数名不能为空', trigger: 'blur'},{min:1,max:20, message: '参数名长度在1-20位之间', trigger: 'blur'},],
          },
          inputVisible:false,
          inputValue: '',

        }
    },
     
    created(){
      this.getLevle3List()
    },
    computed:{
       tabPanable(){
         return  !(this.cateVaule && this.cateVaule.length ===3);
       },
       cateId(){
           if(this.cateVaule && this.cateVaule.length ===3){
               return this.cateVaule[2];
           }
           else
           {
               return null
           }
       }
    },
    methods:{
      getLevle3List(){
          getGoodsData({type:3}).then((res)=>{
          if(res && res.data.meta.status ===200)
          {
            this.pcateList= res.data.data;
          }
          else
          {
              this.$message.error('获取商品分类列表失败!')
          }
       }) 
       },
       parentCateChange(){
            this.getPropData()
       },
       getPropData(){
           if(this.cateId)
           {
             const queryData ={id:this.cateId,sel:this.activeTabName}
             getPropList(queryData).then(res=>{
                 if(res && res.data.meta.status ===200){
                     res.data.data.forEach(element => {
                        //  console.log(element.attr_vals)
                        //  element.attr_vals = element.attr_vals.split(' ')
                        element.inputVisible = false;
                        element.inputValue='';
                         if(element.attr_vals && element.attr_vals.trim() !=='')
                         {
                           element.attr_vals = element.attr_vals.split(' ')
                         }
                         else
                         {
                             element.attr_vals = []
                         }
                         
                     });
                     console.log(res)
                     if(this.activeTabName ==='many'){
                         this.manyTableData = res.data.data;
                     }
                     else
                     {
                         this.onlyTableData =res.data.data
                     }
                 }
                 else
                 {
                   this.$message({
                   type:'error',
                   message:'获取参数数据失败！'
               })
                 }
             })
           }
           else{
               this.manyTableData=[];
               this.onlyTableData=[];
               this.$message({
                   type:'error',
                   message:'请选择正确的分类！'
               })
           }
       },
       resetAddAttrDialog(){
          this.$refs['addAttrForm'].resetFields();
       },
       showAddCatedialog(){

       },
       AddCateAttrInfo(){
            this.$refs['addAttrForm'].validate(valid=>{
            if(valid){
                const addPrarm = {id:this.cateId,attr_name:this.attrTemp.attr_name,attr_sel:this.activeTabName}
                console.log(addPrarm)
                AddPropValue(addPrarm).then(res =>{
                  
                   if(res && res.data.meta.status === 201)
                   {
                       this.$message({
                           type:'success',
                           message:'添加成功！'
                       })
                      this.getPropData() 
                   }
                   else
                   {
                        this.$message({
                           type:'error',
                           message:'添加失败！'
                       })
                   }
               })
            }
            else
            {
               this.$message({
                           type:'error',
                           message:'请填写正确的属性名称！'
                       })
            }
        })
       },
       showInput(rowInfo) {
        rowInfo.inputVisible = true;
        this.$nextTick(_ => {
          this.$refs.saveTagInput.$refs.input.focus();
        });
      },
        handleInputConfirm(rowInfo) {
        let inputValue = rowInfo.inputValue;
        if (inputValue.trim().length ===0) {
        
           rowInfo.inputValue=''
           rowInfo.inputVisible = false;
           return
        }
        else
        {
          rowInfo.attr_vals.push(rowInfo.inputValue)
          rowInfo.inputVisible = false;
          const addParam ={
            id:this.cateId,
            attrId:rowInfo.attr_id,
            attr_name:rowInfo.attr_name,
            attr_sel:rowInfo.attr_sel,
            attr_vals:rowInfo.attr_vals.join(' ')
          }
          AddPropTagData(addParam).then(res=>{
            if(res && res.data.meta.status === 200)
               {
                 this.$message({
                   type:'success',
                   message:'添加tag成功！'
                   })
                   }
                   else
                   {
                        this.$message({
                           type:'error',
                           message:'添加tag失败！'
                       })
                   }
          })
        }
      },
      // 删除tag标签
      handleClose(i,rowInfo){
          rowInfo.attr_vals.splice(i,1);
          const deleteParam ={
            id:this.cateId,
            attrId:rowInfo.attr_id,
            attr_name:rowInfo.attr_name,
            attr_sel:rowInfo.attr_sel,
            attr_vals:rowInfo.attr_vals.join(' ')
          }
          AddPropTagData(deleteParam).then(res=>{
            if(res && res.data.meta.status === 200)
               {
                 this.$message({
                   type:'success',
                   message:'删除tag成功！'
                   })
                   }
                   else
                   {
                        this.$message({
                           type:'error',
                           message:'删除tag失败！'
                       })
                   }
          })
      }
    }

}
</script>
<style lang="less" scoped>
    .el-breadcrumb{
        margin: 10px 0 20px 0;
    }
    .add_button{
        margin-bottom: 10px ;
    }
    .el-alert{
        margin-bottom: 20px ;
    }
    .attr_input{
        width: 100%;
    }
    .el-button{
        min-height:20px;
    }
    .el-tag + .el-tag {
    margin-left: 10px;
    }
    .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
   }
   .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
   }
</style>