<template>
    <div>
         <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item><a href="/">商品管理</a></el-breadcrumb-item>
          <el-breadcrumb-item>添加商品</el-breadcrumb-item>
        </el-breadcrumb>
        <el-card class="box-card">
            <el-alert
              title="添加商品信息"
              type="warning"
              center
              show-icon>
             </el-alert>
             <!-- 侧边步骤进度条 -->
             <el-steps :space="200" :active="+activeName" finish-status="success" align-center>
               <el-step title="基本信息"></el-step>
               <el-step title="商品参数"></el-step>
               <el-step title="商品属性"></el-step>
               <el-step title="商品图片"></el-step>
               <el-step title="商品内容"></el-step>
               <el-step title="完成"></el-step>
             </el-steps>
            <!--商品基本信息-->
             <el-form :model="addGoodsForm" :rules="rules" ref="loginFormRef" label-width="100px" label-height="20px" class="goodsAdd_Form" label-position="top">
                <el-tabs tab-position="left" v-model="activeName" :before-leave="beforeTabLeave" @tab-click="tabClick">
                  <el-tab-pane label="基本信息" name="0">
                      <el-form-item label="商品名称" prop="goods_name">
                        <el-input v-model="addGoodsForm.goods_name"></el-input>
                      </el-form-item>
                      <el-form-item label="商品价格" prop="goods_price">
                        <el-input v-model="addGoodsForm.goods_price" type="number"></el-input>
                      </el-form-item>
                      <el-form-item label="商品重量" prop="goods_weight">
                        <el-input v-model="addGoodsForm.goods_weight" type="number"></el-input>
                      </el-form-item>
                      <el-form-item label="商品数量" prop="goods_number">
                        <el-input v-model="addGoodsForm.goods_number" type="number"></el-input>
                      </el-form-item>
                      <el-form-item label="商品分类" prop="goods_cat">
                         <el-cascader class="cate_cascader"
                          v-model="addGoodsForm.goods_cat"
                          :options="pcateList"
                          :props="{ expandTrigger: 'hover',value:'cat_id',label:'cat_name',children:'children'}"
                          clearable
                           @change="parentCateChange"
                          style="width:30%">
                          </el-cascader>
                      </el-form-item>
                  </el-tab-pane>
                  <el-tab-pane label="商品参数" name="1">
                    <el-form-item v-for="(item) in manyTableData" :key = "item.attr_id" :label="item.attr_name">
                         <el-checkbox-group v-model="item.attr_vals">
                            <el-checkbox border  size="mini" v-for=" itemSub in item.attr_vals"  :key="itemSub" :label="itemSub" ></el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                  </el-tab-pane>
                  <el-tab-pane label="商品属性" name="2">
                     <el-form-item v-for="(item) in onlyTableData" :key = "item.attr_id" :label="item.attr_name">
                         <el-checkbox-group v-model="item.attr_vals">
                            <el-checkbox border  size="mini" v-for=" itemSub in item.attr_vals"  :key="itemSub" :label="itemSub" ></el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                  </el-tab-pane>
                  <el-tab-pane label="商品图片" name="3">
                      <el-upload
                         class="upload-demo"
                         ref="uploadImg"
                         :action="uploadUrl"
                         :on-preview="handlePreview"
                         :on-remove="handleRemove"
                         :headers="uploadHeader"
                         list-type="picture"
                         :auto-upload="false"
                         :on-success="uploadSuccess">
                         <!-- 具名插槽 -->
                        <template v-slot:trigger>
                          <el-button  size="small" type="primary">选取文件</el-button>
                        </template>
                        <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button>
                        <template v-slot:tip>
                             <div class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                        </template>
                      </el-upload>
                  </el-tab-pane>
                  <el-tab-pane label="商品内容" name="4">  
                         <!-- 父子组件同步绑定参数说明，v-model:value = "content"  
                              value：子组件变量名，content，父组件间对应的变量名  -->
                        <div class="components-container">
                           <div>
                             <tinymce @input="getContent" v-model:value="content" :height="300" />
                          </div>
                          <div class="editor-content" v-html="content" />
                         <el-button style="margin-left: 10px;" size="small" type="success" @click="exportContent">导出</el-button>
                    </div>
                  </el-tab-pane>
                  <el-tab-pane label="完成" name="5">完成</el-tab-pane>
                </el-tabs>
            </el-form>
            <!-- 图片预览窗口 -->
            <el-dialog v-model="dialogVisible">
               <img width="100%" :src="priviewPath" alt="">
            </el-dialog>
       </el-card>
    </div>
</template>
<script>
import{getGoodsData,getPropList} from '@/api/goods.js'
import {baseUrl} from '@/utils/constValue.js'
import {getToken} from '@/utils/auth' 
import Tinymce from '@/components/Tinymce'
export default {
    data(){
        return{
            activeName:'0',
            addGoodsForm:{
                goods_name:'',
                goods_price:0,
                goods_weight:0,
                goods_number:0,
                goods_cat:[],
                pics:[],
                goods_introduce:'',
            },
            rules:
            {
             goods_name:[{required: true, message: '商品名称不能为空！', trigger: 'blur'}],
             goods_price:[{required: true, message: '商品价格不能为空！', trigger: 'blur'}],
             goods_weight:[{required: true, message: '商品重量不能为空！', trigger: 'blur'}], 
             goods_number:[{required: true, message: '商品数量不能为空！', trigger: 'blur'}],  
             goods_cat:[{required: true, message: '请选择商品分类！', trigger: 'blur'}], 
            },
            // 商品分类信息
            pcateList:[],
            // 商品参数信息
            manyTableData:[],
            onlyTableData:[],
            //上传图片的后台api地址
            uploadUrl:baseUrl+"upload",
            uploadHeader:{Authorization: getToken()},
            // 
            dialogVisible:false,
            priviewPath:'',
             editorOption:{},
            //  
             content:'中华人民共和国',
       }
    },
    components:{Tinymce},
    created(){
      this.getLevle3List()
      console.log(baseUrl)
    },
    computed:{
       tabPanable(){
         return  !(this.addGoodsForm.goods_cat && this.addGoodsForm.goods_cat.length ===3);
       },
       cateId(){
           if(this.addGoodsForm.goods_cat && this.addGoodsForm.goods_cat.length ===3){
               return this.addGoodsForm.goods_cat[2];
           }
           else
           {
               return null
           }
       }
    },
    methods:{
       handleClick(tab, event) {
        console.log(tab, event);
      },
      getLevle3List(){
          getGoodsData({type:3}).then((res)=>{
          if(res && res.data.meta.status ===200)
          {
            this.pcateList= res.data.data;
          }
          else
          {
              this.$message.error('获取商品分类列表失败!')
          }
       }) 
       },
      parentCateChange(){
           if(this.addGoodsForm.goods_cat.length !== 3)
           {
               this.addGoodsForm.goods_cat === []
           }
       },
       beforeTabLeave(activeName,oldActiveName){
           if(oldActiveName ==='0' &&  this.addGoodsForm.goods_cat.length !== 3){
               return false
           }

       },
      //获取商品参数和属性数据    
       getPropData(activeTabName){
           if(this.cateId)
           {
             const queryData ={id:this.cateId,sel:activeTabName}
             getPropList(queryData).then(res=>{
                 if(res && res.data.meta.status ===200){
                     res.data.data.forEach(element => {
                        element.inputVisible = false;
                        element.inputValue='';
                         if(element.attr_vals && element.attr_vals.trim() !=='')
                         {
                           element.attr_vals = element.attr_vals.split(' ')
                         }
                         else
                         {
                             element.attr_vals = []
                         }
                         
                     });
                     if(activeTabName ==='many'){    
                         this.manyTableData = res.data.data;
                         console.log( this.manyTableData)
                     }
                     else
                     {
                         console.log(111)
                         this.onlyTableData =res.data.data
                         console.log(this.onlyTableData)
                     }
                 }
                 else
                 {
                   this.$message({
                   type:'error',
                   message:'获取参数数据失败！'
               })
                 }
             })
           }
           else{
               this.manyTableData=[];
               this.onlyTableData=[];
               this.$message({
                   type:'error',
                   message:'请选择正确的分类！'
               })
           }
       },
      tabClick(){
          if(this.activeName === '1'){
             this.getPropData('many')
          }
          else if(this.activeName === '2'){
             this.getPropData('only')
          }
      },
      //图片预览——暂时有问题，上传成功后返回的url有问题，不能访问
      handlePreview(file){
        if(file.response){
             this.priviewPath =file.response.data.url;
        }else{
           this.priviewPath = file.url;
        }
        console.log(this.priviewPath)
        this.dialogVisible =true;
      },
      handleRemove(file){
        // 只有上传成功的图片才有response对象，未上传的file.response为undefine
         if(file.response){
           const picInfo = file.response.data.tmp_path;
           const i= this.addGoodsForm.pics.findIndex((item)=>{
               return item.pic === picInfo
              })
            console.log(i)
          this.addGoodsForm.pics.splice(i,1);
         }
      },
      submitUpload() {
        this.$refs.uploadImg.submit()
      },
      uploadSuccess(response){
        console.log(response)
        // 拼接得到一个图片信息对象
        const picInfo = {pic:response.data.tmp_path}
        // 将图片信息对象，push到pics数组中
        this.addGoodsForm.pics.push(picInfo);
      },
       exportContent(){
         console.log(this.content)
       },
       getContent(content) {
      this.content = content
     },

    },
}
</script>
<style lang="less" scoped>

    .el-checkbox{
       margin:0 10px 0 0 !important ;
    }
    .el-form-item{
        margin: 0 0 0 0 !important ;
        padding: 0 0 0 0 !important ;
    }
    .editor-content{
     margin-top: 20px;
    }
</style>