<template>
    <div>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item><a href="/">商品管理</a></el-breadcrumb-item>
          <el-breadcrumb-item>商品分类</el-breadcrumb-item>
        </el-breadcrumb>
        <el-card class="box-card">
            <div class="goodsCate_top">
               <el-button type="primary" @click="showAddCatedialog">添加分类</el-button>
            </div>
            <!-- 用户数据展示 -->
            <div class="goodsCate_table">
               <el-table
                :data="goodsList"
                border
                row-key="cat_id"
                style="width: 100%"
                :tree-props="{children: 'children'}">
                 <!-- <el-table-column  type="index" label="#" :index="indexMethod"></el-table-column> -->
                 <el-table-column prop="cat_name" label="分类名称" width="180"  align="center"> </el-table-column>
                 <el-table-column  prop="cat_deleted" label="是否有效" width="180"  align="center">
                      <template v-slot="{row}">
                       <i class="el-icon-success" v-if="row.cat_deleted===false" style="color:lightgreen;"></i> 
                       <i class="el-icon-error" v-else style="color:red;"></i>  
                     </template>
                 </el-table-column>
                 <el-table-column prop="cat_level" label="级别" align="center">
                   <!-- 具名slot -->
                   <!-- <template v-slot:slotname="scope"> -->
                     <template v-slot="scope">
                       <el-tag v-if="scope.row.cat_level === 0 " type="success">一级</el-tag>
                       <el-tag type=""  v-else-if="scope.row.cat_level === 1 ">二级</el-tag>
                       <el-tag type="warning" v-else>三级</el-tag>
                     </template>
                 </el-table-column>
                 <el-table-column label="操作" width="300px" align="center">
                    <template v-slot="" >
                        <el-button size="mini" type="primary" icon="el-icon-edit"  round >编辑</el-button>
                        <el-button size="mini" type="danger" icon="el-icon-delete"  round >删除</el-button>
                     </template>
                 </el-table-column>
               </el-table>  
            </div>
        </el-card>
     <!-- 页码控制 -->
      <div class="block">
        <Pagination :total="totslNum" v-model:page ="queryPara.pagenum" 
              v-model:limit="queryPara.pagesize"  @pagination = "getList"> </Pagination>
      </div>
      <!-- 增加分类对话框 -->
      <el-dialog
        title="添加分类信息"
        v-model="addCartDialogVisible"
        width="40%"
        center
        @close="resetAddCateDialog">
        <el-form ref="addCateForm" :rules="addcateFromRules" :model="addcateFrom" label-position="left" label-width="90px" style="width:100%; margin-left:50px;">
            <el-form-item label="分类名称:" prop="cat_name">
                <el-input  v-model="addcateFrom.cat_name" style="width:70%"/>
             </el-form-item>
             <el-form-item label="父级分类:">
                <el-cascader class="cate_cascader"
                  v-model="cateVaule"
                  :options="pcateList"
                  :props="{ expandTrigger: 'hover',value:'cat_id',label:'cat_name',children:'children',checkStrictly: true }"
                   clearable
                   @change="parentCateChange"
                  style="width:70%">
                </el-cascader>
             </el-form-item>
              
         </el-form>
         <template v-slot:footer class="dialog-footer"> 
             <div >
               <el-button @click="addCartDialogVisible = false">取 消</el-button>
               <el-button type="primary" @click="AddGoodsCate">确 定</el-button> 
             </div>
          </template>
      </el-dialog>
    </div>
</template>
<script>
import{getGoodsData,AddGoodsCateData} from '@/api/goods.js'
import Pagination from '@/components/Pagination/index.vue'
export default {
    data(){
        return{
            queryPara:{
               type:3,
               pagenum:1,
               pagesize:2,
           },
           goodsList:[],
           totslNum:0,
           addCartDialogVisible:false,
           addcateFrom:{
             cat_pid:0,
             cat_name:'',
             cat_level:0,
           },
           addcateFromRules:{
             cat_name:[{required: true, message: '分类名不能为空', trigger: 'blur'},{min:1,max:20, message: '分类名长度在1-20位之间', trigger: 'blur'},]
           },
           cateVaule:[],
          //  父级分类数据列表
           pcateList:[],
        }
    },
    components:{Pagination},
    created(){
       this.getList()
      //  this.get2LevleList()
     },
     methods:{
       getList(){
         getGoodsData(this.queryPara).then((res)=>{
          if(res.data.meta.status ===200)
          {
            this.totslNum =res.data.data.total
            this.goodsList= res.data.data.result;

          }
          else
          {
              this.$message.error('获取用户列表失败!')
          }
       }) 
       },
       get2LevleList(){
          getGoodsData({type:2}).then((res)=>{
          if(res.data.meta.status ===200)
          {
            this.pcateList= res.data.data;
          }
          else
          {
              this.$message.error('获取用户列表失败!')
          }
       }) 
       },
       showAddCatedialog(){
          this.get2LevleList()
          this.addCartDialogVisible = true
       },
      //  
       AddGoodsCate(){
      this.$refs["addCateForm"].validate((valid)=>{
         if(valid){
           AddGoodsCateData(this.addcateFrom).then(res=>{
           if(res && res.data.meta.status ===201){
              this.getList()
              this.addCartDialogVisible = false
              this.$message({
                type:'success',
                message:'添加分类成功！'
              })
           }
           else
           {
             this.$message({
               type:'error',
               message:'添加分类失败！'
             })
           }
         }
         )
         }
         else{
           this.$message({
               type:'error',
               message:'请填写正确的分类名称！'
             })
         }
      })
       
       },
       parentCateChange(){
        
         if(this.cateVaule && this.cateVaule.length>0){
           this.addcateFrom.cat_pid = this.cateVaule[this.cateVaule.length-1];
           this.addcateFrom.cat_level = this.cateVaule.length
         }
         else{
            this.addcateFrom.cat_pid = 0;
            this.addcateFrom.cat_level = 0
         }
       },
      indexMethod(index) {
        return index * 2;
      },
      resetAddCateDialog(){
        this.cateVaule= null;
        this.addcateFrom.cat_name =''
        this.addcateFrom.cat_pid = 0;
        this.addcateFrom.cat_level = 0
      },
     }
}
</script>
<style lang="less" scoped>
    .goodsCate_top{
        margin: 5px 0 20px 0;
    }
    .el-dialog{
     padding: 5px,10px,10px,5px;
     .el-input{
       width: 200px;
     }
    .dialog-footer{
        padding-top: 0px;
     }
   }
</style>