<template>
    <div>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item><a href="/">用户管理</a></el-breadcrumb-item>
          <el-breadcrumb-item>用户列表</el-breadcrumb-item>
        </el-breadcrumb>
        <el-card class="box-card">
            <div class="usermanage_top">
               <el-form :inline="true" class="demo-form-inline">
                  <el-form-item >
                    <el-input  v-model="queryPara.query" clearable @clear="getList">
                    </el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="getList">查询</el-button>
                 </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="addDialogVisible = true">添加用户</el-button>
                 </el-form-item>
               </el-form>
            </div>
            <!-- 用户数据展示 -->
            <div class="usermanage_table">
               <el-table
                :data="userLsit"
                border
                style="width: 100%">
                <el-table-column type="index" label="#"  > </el-table-column>
                 <el-table-column prop="username" label="用户名" width="180"> </el-table-column>
                 <el-table-column  prop="email" label="邮箱" width="180"></el-table-column>
                 <el-table-column prop="mobile" label="联系电话"></el-table-column>
                 <el-table-column prop="role_name" label="用户角色"></el-table-column>
                 <el-table-column label="状态">
                     <template v-slot="{row}">
                       <el-switch
                        v-model="row.mg_state"
                        active-color="#13ce66"
                        inactive-color="#ff4949"
                        @change="modifyStateValue(row)">
                        </el-switch>  
                     </template>
                 </el-table-column>
                 <el-table-column label="操作" width="180px">
                    <template v-slot="{row}">
                        <el-button type="primary" icon="el-icon-edit" circle @click="editorUserIngo(row)"></el-button>
                        <el-button type="danger" icon="el-icon-delete" circle @click="deleteUser(row)"></el-button>
                        <el-tooltip effect="light" content="提示操作类型" placement="top"  :enterable="false" >
                           <el-button type="warning" icon="el-icon-star-off" circle @click="editUserRole(row)"></el-button>
                        </el-tooltip>
                     </template>
                 </el-table-column>
               </el-table>  
            </div>
        </el-card>
        <!-- 页码控制 -->
      <div class="block">
        <Pagination :total="totslNum" v-model:page ="queryPara.pagenum" 
              v-model:limit="queryPara.pagesize"  @pagination = "getList"> </Pagination>
      </div>
      <!-- 增加用户对话框 -->
      <el-dialog
        title="添加用户信息"
        v-model="addDialogVisible"
        width="50%"
        center
        @close="resetAddDialog">
        <el-form ref="addUserForm" :rules="rules" :model="temp" label-position="left" label-width="90px" style="width:100%; margin-left:50px;">
            <el-form-item label="用户名" prop="username">
                <el-input v-model="temp.username" />
             </el-form-item>
             <el-form-item label="密码" prop="password">
                <el-input v-model="temp.password" />
             </el-form-item>
              <el-form-item label="邮箱" prop="email">
                <el-input v-model="temp.email" />
             </el-form-item>
             <el-form-item label="联系电话" prop="telnum">
                <el-input v-model="temp.telnum" />
             </el-form-item>
         </el-form>
         <template v-slot:footer class="dialog-footer"> 
             <div >
               <el-button @click="addDialogVisible = false">取 消</el-button>
               <el-button type="primary" @click="AddUserInfo">确 定</el-button> 
             </div>
          </template>
      </el-dialog>
      <!-- 编辑用户信息对话框 -->
      <el-dialog
        title="编辑用户信息"
        v-model="editDialogVisible"
        width="50%"
        center
        @close="resetEditDialog">
        <el-form ref="editUserForm" :rules="rules" :model="editTem" label-position="left" label-width="90px" style="width:100%; margin-left:50px;">
            <el-form-item label="用户名">
                <el-input v-model="editTem.username" disabled/>
             </el-form-item>
              <el-form-item label="邮箱" prop="email">
                <el-input v-model="editTem.email" />
             </el-form-item>
             <el-form-item label="联系电话" prop="telnum">
                <el-input v-model="editTem.telnum" />
             </el-form-item>
         </el-form>
         <template v-slot:footer class="dialog-footer"> 
             <div >
               <el-button @click="editDialogVisible = false">取 消</el-button>
               <el-button type="primary" @click="editUserInfoToDB">确 定</el-button> 
             </div>
          </template>
      </el-dialog>
      <!-- 编辑用户角色对话框 -->
      <el-dialog
        title="编辑用户角色"
        v-model="editRoleDialogVisible"
        width="50%"
        center
        @close="resetRoleDialog">
        <el-form ref="editUserRoleForm" :model="editRoleTem" label-position="left" label-width="90px" style="width:100%; margin-left:50px;">
            <el-form-item label="用户名">
                <el-input v-model="editRoleTem.username" disabled/>
             </el-form-item>
              <el-form-item label="当前角色" prop="role_name">
                <el-input v-model="editRoleTem.role_name" disabled/>
             </el-form-item>
            <el-form-item label="分配角色">
                <el-select v-model="roleValue" clearable placeholder="请选择">
                  <el-option
                  v-for="item in roleOptions"
                 :key="item.value"
                 :label="item.label"
                 :value="item.value">
                 </el-option>
               </el-select>
            </el-form-item>
         </el-form>
         <template v-slot:footer class="dialog-footer"> 
             <div >
               <el-button @click="editRoleDialogVisible = false">取 消</el-button>
               <el-button type="primary" @click="editUserRoleToDB">确 定</el-button> 
             </div>
          </template>
      </el-dialog>
    </div>
</template>
<script>
import {getUsersData,modifyUsersState,addUsersData,getUsersDataById,editUsersData,deleteUsersData,getRolesList,setUsersRole} from '@/api/user.js'
import Pagination from '@/components/Pagination/index.vue'
export default {
     data(){
        // 自定义校验规则
        let checkTelnum = (rule,value,callback)=>{
          const regMobile=/^1([358][0-9]|4[579]|66|7[0135678]|9[89])[0-9]{8}$/
            if(regMobile.test(value)){
              callback()
            }
            else{
              callback(new Error('请输入正确的手机号!'))
            }
          };
         return{
           queryPara:{
               query:'',
               pagenum:1,
               pagesize:2,
           },
          totslNum:0,
          userLsit:[],
          stateValue:true,
          addDialogVisible:false,
          editDialogVisible:false,
          editRoleDialogVisible:false,
          temp:{
            username:'',
            password:'',
            email:'',
            telnum:'',
          },
          editTem:{
            id:null,
            username:'',
            password:'',
            email:'',
            telnum:'',
          },
          editRoleTem:{
            id:null,
            username:'',
            role_name:'',
            roleId:null,
          },
          rolesList:[],
          roleOptions:[],
          roleValue: null,
          rules: {
           username:[{required: true, message: '用户名不能为空', trigger: 'blur'},{min:1,max:20, message: '用户名长度在1-20位之间', trigger: 'blur'},],
           password: [{ required: true, message: '密码不能为空', trigger: 'blur' },{min:5,max:20, message: '用户名长度在3-20位之间', trigger: 'blur'},],
           email: [{ required: true, message: '邮箱不能为空', trigger: 'blur' },{type: 'email', message: '请输入合法的邮箱地址', trigger:['blur', 'change']}],
           telnum: [{ required: true, message: '联系电话不能为空', trigger: 'blur' },{validator:checkTelnum,trigger:'blur'}]
         },
        }
         
     },
     components:{Pagination},
     created() {
       this.getList()
       this.getRolesListData()
     },
     methods:{
       getList(){
         getUsersData(this.queryPara).then((res)=>{
          if(res.status ===200)
          {
            this.totslNum =res.data.data.total
            this.userLsit= res.data.data.users;
            console.log(this.userLsit)
          }
          else
          {
              this.$message.error('获取用户列表失败!')
          }
       }) 
       },
      // 获取权限列表
        getRolesListData(){
         getRolesList().then((res=>{
             if(res && res.data.meta.status ===200){
               this.rolesList= res.data.data;
               for(const item of this.rolesList)
               {
                  this.roleOptions.push({label:item.roleName,value:item.id})
               }
             }
             else{
                  this.$message.error('获取角色列表失败!')
             }
             
         }))
       },
       modifyStateValue(userInfo){
        const modifyPara={
          id:userInfo.id,
          state:userInfo.mg_state
        }
         modifyUsersState(modifyPara).then(res=>{
           if(res.data.meta.status !== 200){
              userInfo.mg_state = !userInfo.mg_state
              this.$message.error('用户状态修改失败!')
           }
           else
           {
              this.$message.success('用户状态修改成功!')
           }
         })
       },
      // 新增用户信息
       AddUserInfo(){
        this.$refs['addUserForm'].validate((valid)=>{
          if(valid){
            const addPara={username:this.temp.username,password:this.temp.password,email:this.temp.email,mobile:this.temp.telnum}
            addUsersData(addPara).then((res)=>{
              if(res && res.data.meta.status === 201){
                console.log(res);
                this.$message.success('添加用户成功！')
                this.getList()
              }
              else{
                this.$message.error('添加用户失败')
                this.getList()
              }
            })
          }
          else{
            console.log('验证不通过！')
          }
        })
        this.addDialogVisible =false;
       },
      //  重置添加用户对话框内容
       resetAddDialog(){
         this.$refs['addUserForm'].resetFields();
       },
      //  重置编辑用户对话框内容
       resetEditDialog(){
         this.$refs['editUserForm'].resetFields();
       },
      //点击编辑用户信息按钮
       editorUserIngo(rowInfo){
        //  console.log(rowInfo);
        // 此时需要通过用户id重新从后台数据库请求数据，而不是直接拿前端的数据，防止数据不一致的情况
         getUsersDataById({id:rowInfo.id}).then(res=>{
           if(res && res.data.meta.status ===200){
            this.editTem.id = res.data.data.id;
            this.editTem.username = res.data.data.username;
            this.editTem.email = res.data.data.email;
            this.editTem.telnum =res.data.data.mobile;
           }
         })
          this.editDialogVisible =true;
       },
      // 编辑用户信息
       editUserInfoToDB(){
           this.$refs['editUserForm'].validate((valid)=>{
          if(valid){
            const editPara={id:this.editTem.id,email:this.editTem.email,mobile:this.editTem.telnum}
            editUsersData(editPara).then((res)=>{
              if(res && res.data.meta.status === 200){
                this.editDialogVisible =false;
                this.$message.success('编辑用户成功！')
                this.getList()
              }
              else{
                this.editDialogVisible =false;
                this.$message.error('编辑用户失败')
                this.getList()
              }
            })
          }
          else{
            console.log('验证不通过！')
          }
        })
       },
      //删除用户
       deleteUser(rowInfo){
         const userID = rowInfo.id;
         this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          const deletePara ={id:rowInfo.id}
          deleteUsersData(deletePara).then(res => {
          if(res && res.data.meta.status ===200){
            this.$message({
            type: 'success',
            message: '删除成功!'
          });
          this.getList()
          }
          else
          {
             this.$message.error('编辑用户失败');
             this.getList()
          }
          })

        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });        
        });
       },
      //编辑用户角色信息
      editUserRole(rowInfo){

        this.editRoleTem.id = rowInfo.id;
        this.editRoleTem.username = rowInfo.username;
        this.editRoleTem.role_name = rowInfo.role_name;
        console.log( this.editRoleTem);
        this.editRoleDialogVisible =true
      }, 
      editUserRoleToDB(){
        setUsersRole({userId:this.editRoleTem.id,rId:this.roleValue}).then(res =>{
          console.log(res)
          if(res && res.data.meta.status ===200)
          {
            this.$message(
              {
                type: 'success',
                message: '设置用户角色成功!'
              }
            )
            this.getList()
          }
          else
          {
            this.$message({
              type: 'warning',
              message: '已取消删除'
            })
          }
        })
        
      },
      //重置设置用户权限对话框
      resetRoleDialog(){
          this.roleValue = null
      }
     }
}
</script>
<style lang="less" scoped>
     .el-breadcrumb{
         margin: 10px 0px 20px 5px;
     }
     .block{
         margin: 10px 0 20px 0px;
         text-align: center;
     }
   .el-dialog{
     padding: 5px,10px,10px,5px;
     .el-input{
       width: 70%;
     }
    .dialog-footer{
         padding-top: 0px;
     }
   }
     

</style>