html{
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
#app{
height: 100%;
   padding: 0;
   margin: 0;
   min-width: 1366px;
}
.el-breadcrumb{
    margin: 5px 0 15px 0 ;
}
.el-steps{
    margin: 15px 0 15px 0;
   
}
.el-step__title{
    font-size: 14px;
}
.el-checkbox{
    margin-left: 0px;
}
label{
    padding: 0;
}