<template>
    <div>
         <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item><a href="/">数据统计</a></el-breadcrumb-item>
          <el-breadcrumb-item>数据报表</el-breadcrumb-item>
        </el-breadcrumb>
        <el-card class="box-card">
             <div ref="report" style="width: 600px;height:400px;">
             </div>
        </el-card>
    </div>
</template>
<script>
import {getStaticData} from '@/api/dataStatic.js'
export default {
    
   data(){
       return{
          //数据合并    
          option:{
            title: {
                text: '用户来源'
            },
            tooltip: {
                trigger:'axis',
                axisPointer:{
                    type:'cross',
                    label:{
                        backgroundColor:'#E9EEF3'
                    }
                }
            },
            legend: {
            },
            grid:{
                left:'3%',
                right:'4%',
                bottom:'3%',
                containLabel:true
            },   
            xAxis: {
                data: [],
                boundaryGap:false
            },
            yAxis: {
                type:'value'
            },
        },
        // 定义echarts对象
        myChart:null,
       }
       
   },
    mounted(){
     // 两种方式都可以
     //第一种方式需要把div的id定义为report  
     // this.myChart = this.$echarts.init(document.getElementById('report'));
     this.myChart = this.$echarts.init(this.$refs['report']);
     this.myChart.setOption(this.option,{
         notMerge:true,
     });

    },
    created(){
       this.getReportData()
    },
    methods:{
       getReportData(){
          getStaticData().then(res =>{
              console.log(res);
              if(res && res.data.meta.status ===200){
                  console.log(this.option)
                  this.option = res.data.data;
                  this.myChart.setOption(this.option);
                  console.log(this.option)
              }
          })
       } 
    }
}
</script>