<template>
    <div class="Permission_container">
        <!-- 面包屑导航 -->
      <div class="Permission_breadcrum">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item><a href="/">权限管理</a></el-breadcrumb-item>
          <el-breadcrumb-item>权限列表</el-breadcrumb-item>
        </el-breadcrumb>    
      </div>
        <!-- 权限数据展示 -->
      <el-card class="box-card">     
         <div class="permissmanage_table">
            <el-table
                :data="list"
                border
                style="width: 100%"
                fit>
                <el-table-column type="index" label="#" center ></el-table-column>
                 <el-table-column prop="authName" label="权限名称"  align="center"> </el-table-column>
                 <el-table-column  prop="path" label="路径"  align="center" ></el-table-column>
                 <el-table-column label="权限等级" align="center" >
                     <template v-slot="scope">
                        <!-- 方法一，通过处理后显示 -->
                       <!-- <el-tag :type="levelType[scope.row.level]">{{levelTag[scope.row.level]}}</el-tag> -->
                       <!-- 方法二：通过v-if判断显示 -->
                       <el-tag v-if="scope.row.level === '0' " type="success">一级</el-tag>
                       <el-tag type=""  v-else-if="scope.row.level === '1'">二级</el-tag>
                       <el-tag type="warning" v-else>三级</el-tag>
                     </template>
                 </el-table-column>
            </el-table>  
         </div>
     </el-card>
    </div>
</template>
<script>
import {getPermissionList} from  '@/api/user.js'
export default {
    data(){
        return{
            list:[],
            quertType:'list',
            levelTag:{
                0:'一级',
                1:'二级',
                2:'三级',
            },
            levelType:{
                0:'success',
                1:'',
                2:'warning',
            }
        }
    },
    created(){
       this.getPermLsit()
    },
    methods:{
     // 获取权限数据   
       getPermLsit(){

         getPermissionList({type:this.quertType}).then((res=>{
             if(res && res.data.meta.status ===200){
               this.list = res.data.data;
             }
             else{
                  this.$message.error('获取权限列表失败!')
             }
             
         }))
       } 
    }
    
}
</script>

<style lang="less" scoped>
    .box-card{
        margin-top: 20px;
    }
</style>