<template>
    <div class="role_container">
        <!-- 导航面包屑 -->
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item><a href="/">权限管理</a></el-breadcrumb-item>
          <el-breadcrumb-item>角色列表</el-breadcrumb-item>
        </el-breadcrumb>
        <el-card class="box-card">
          <!-- 用户数据展示 -->
            <div class="rolesmanage_table">
               <el-table
                :data="rolesList"
                border
                style="width: 100%">
                <!-- 展开列 -->
                <el-table-column type="expand">
                   <!--展开列-->
                   <template v-slot="scope">
                       <el-row v-for="(item1,i1) in scope.row.children" :key="item1.id" class="expendCont1" :class="['bdbottom',i1 === 0 ? 'bdtop':'']">
                           <el-col :span="5">
                               <el-tag  closable @close="deleteTagById(scope.row,item1.id)">{{item1.authName}}</el-tag>
                               <i class="el-icon-caret-right"></i>
                           </el-col>
                           <el-col :span="19">
                               <el-row v-for="(item2,i2) in item1.children" :key="item2.id" class="expendCont2" :class="[,i2 === 0 ? '':'bdtop']">
                                   <el-col :span="6">
                                     <el-tag type="success" closable @close="deleteTagById(scope.row,item2.id)">{{item2.authName}}</el-tag>
                                     <i class="el-icon-caret-right"></i>
                                   </el-col>
                                   <el-col :span="18">
                                     <el-tag  type="warning" v-for="(item3) in item2.children" :key="item3.id" closable @close="deleteTagById(scope.row,item3.id)">{{item3.authName}}</el-tag>
                                   </el-col>
                               </el-row>
                           </el-col>
                       </el-row>
                   </template>
                </el-table-column>
                <!-- 索引列 -->
                <el-table-column type="index" label="#" align="center"> </el-table-column>
                 <el-table-column prop="roleName" label="角色名称"  align="center"> </el-table-column>
                 <el-table-column  prop="roleDesc" label="角色描述"  align="center"></el-table-column>
                 <el-table-column label="操作" width="300px" align="center">
                    <template v-slot="{row}">
                        <el-button size="mini" type="primary" icon="el-icon-edit"  round >编辑</el-button>
                        <el-button size="mini" type="danger" icon="el-icon-delete"  round >删除</el-button>
                         <el-button size="mini" type="warning" icon="el-icon-star-off"  round @click="distributeRights(row)">分配权限</el-button>
                     </template>
                 </el-table-column>
               </el-table>  
            </div>
        </el-card>
        <!--分配权限对话框-->
        <el-dialog
        title="分配角色权限"
        v-model="distributeDialogVisible"
        width="50%"
        center
        >
         <el-tree
          :data="rolesLsitTree"
          :props="dialogProps"
          show-checkbox
          :default-expand-all="true"
          node-key="id"
          :default-checked-keys="defaultCheckedIds"
          ref="rightTree">
         </el-tree>
         <template v-slot:footer class="dialog-footer"> 
             <div >
               <el-button @click="distributeDialogVisible = false">取 消</el-button>
               <el-button type="primary" @click="editUserRightsToDB">确 定</el-button> 
             </div>
          </template>
      </el-dialog>
    </div>
</template>
<script>
import {getRolesList,deleteRolesRight,getPermissionList,setRolesRight} from  '@/api/user.js'
export default {
    data(){
        return{
            rolesList:[],
            distributeDialogVisible:false,
            rolesLsitTree:[],
            dialogProps:{label:'authName',children:'children'},
            defaultCheckedIds:[],
            currentRoleId:'',
        }
    },
    created(){
       this.getRolesListData()
    },
    methods:{
     // 获取权限数据   
      getRolesListData(){
         getRolesList().then((res=>{
             if(res && res.data.meta.status ===200){
               console.log(res);
               this.rolesList= res.data.data;
             }
             else{
                  this.$message.error('获取角色列表失败!')
             }
             
         }))
       },
      async deleteTagById(roleInfo,rightId){
          const confirmResult =await this.$confirm('此操作将永久删除该权限, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).catch(err => err)
         if(confirmResult !== 'confirm'){
             return this.$message.info('您取消了删除！')
         }
         else
         {
             deleteRolesRight({roleId:roleInfo.id,rightId:rightId}).then(res=>{
              if(res && res.data.meta.status ===200)
              {
                   this.$message({
                      showClose: true,
                      message: '删除成功！',
                      type: 'success'
                     });
                 roleInfo.children = res.data.data;
              }
             }     
             )
         }
       },
      //分配权限    
       distributeRights(role){
           getPermissionList({type:'tree'}).then(res=>{
               if(res && res.data.meta.status ===200)
               {
                   this.rolesLsitTree =res.data.data;
                  // console.log( this.rolesLsitTree);  
               }
           })
         this.defaultCheckedIds=[];
        //  console.log(role);
         this.getLeasfIdS(role,this.defaultCheckedIds)
         this.currentRoleId = role.id;
         this.distributeDialogVisible =true;
       },
       getLeasfIdS(node,arr){

         if(!node.children){
              arr.push(node.id);
            }
            else{
              for(const i in node.children)
              {
                const item =  node.children[i]
                this.getLeasfIdS(item,arr)
              }
            }
        },
        //获取设置的权限并保存到后台数据库
        editUserRightsToDB(){
           const keys=[...this.$refs["rightTree"].getCheckedKeys(),...this.$refs["rightTree"].getHalfCheckedKeys()]
           const idStr = keys.join(',')
           console.log(this.currentRoleId)
           console.log(idStr);
           const setRightPara = {roleId:this.currentRoleId,rids:idStr}
           setRolesRight(setRightPara).then((res) =>{
               if(res && res.data.meta.status ===200){
                  this.getRolesListData();
                  this.distributeDialogVisible =false;
                  this.$message({
                      showClose: true,
                      message: '分配权限成功！',
                      type: 'success'
                  })
               }
               else{
                   this.$message({
                       showClose:true,
                       message:"分配权限失败！",
                       type:'warning'
                   })
               }
               
             }
           )
        }


    }
    
}
</script>

<style lang="less" scoped>
    .box-card{
        margin-top: 20px;
    }
    .el-tag{
        margin: 5px 5px 5px 0;
    }
    .bdtop{
        border-top: 1px solid ;
    }
    .bdbottom{
       border-bottom: 1px solid ;
    }
    .expendCont1{
        display: flex;
        align-items: center;
    }
</style>