<template>
    <div>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item><a href="/">订单管理</a></el-breadcrumb-item>
          <el-breadcrumb-item>订单列表</el-breadcrumb-item>
        </el-breadcrumb>
        <el-card class="box-card">
            <div class="ordermanage_top">
               <el-form :inline="true" class="demo-form-inline">
                  <el-form-item >
                    <el-input  v-model="queryPara.query" clearable @clear="getList">
                    </el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="getList">查询</el-button>
                 </el-form-item>
               </el-form>
            </div>
            <!-- 用户数据展示 -->
            <div class="ordermanage_table">
               <el-table
                :data="ordersLsit"
                border
                style="width: 100%">
                <el-table-column type="index" label="#"  align="center"> </el-table-column>
                 <el-table-column prop="order_number" label="订单编号" width="180" align="center"> </el-table-column>
                 <el-table-column  prop="order_price" label="订单价格" width="180" align="center"></el-table-column>
                 <el-table-column  label="是否付款" align="center">
                      <template v-slot="{row}">
                           <el-tag v-if="row.order_pay ==='0'" type="warning">
                             未付款
                           </el-tag>
                           <el-tag v-else-if="row.order_pay ==='1'" type="success">
                             已付款
                           </el-tag>
                      </template>
                 </el-table-column>
                 <el-table-column prop="is_send" label="是否发货" align="center"></el-table-column>
                 <el-table-column label="下单时间" align="center">
                    <template v-slot="{row}">
                        {{dateTranslate(row.update_time)}}
                    </template>
                 </el-table-column>
                 <el-table-column label="操作" width="180px" align="center">
                    <template v-slot="{row}">
                        <el-button type="primary" icon="el-icon-edit" size="mini" circle @click="editorOrderAddress(row)"></el-button>
                        <el-button type="success" icon="el-icon-location-outline" size="mini" circle @click="checkExpressPro"></el-button>
                     </template>
                 </el-table-column>
               </el-table>  
            </div>
        </el-card>
        <!-- 页码控制 -->
      <div class="block">
        <Pagination :total="totslNum" v-model:page ="queryPara.pagenum" 
              v-model:limit="queryPara.pagesize"  @pagination = "getList"> </Pagination>
      </div>
      <!-- 修改地址对话框 -->
      <el-dialog
        title="修改地址信息"
        v-model="editDialogVisible"
        width="50%"
        center
        @close="resetEditDialog">
        <el-form ref="editOrderAddressForm" :rules="rules" :model="editAddressTemp" label-position="left" label-width="90px" style="width:100%; margin-left:50px;">
             <el-form-item label="省市区/县" prop="addresscounty">
               <el-cascader
                  v-model="editAddressTemp.addresscounty"
                 :options="options"
                 :props="{ expandTrigger: 'hover' }"
                 @change="handleChange" ></el-cascader>
             </el-form-item>
             <el-form-item label="详细地址" prop="addressDetail">
                <el-input v-model="editAddressTemp.addressDetail" />
             </el-form-item>
         </el-form>
         <template v-slot:footer class="dialog-footer"> 
             <div >
               <el-button @click="editDialogVisible = false">取 消</el-button>
               <el-button type="primary" @click="editOrderAddressToDB">确 定</el-button> 
             </div>
          </template>
      </el-dialog>
       <!-- 显示物流进度 -->
      <el-dialog
        title="显示物流进度"
        v-model="showExpressProgress"
        width="50%"
        center>
          <el-timeline>
            <el-timeline-item
             v-for="(activity, index) in ExpressProList"
             :key="index"
             :icon="activity.icon"
             :type="activity.type"
             :color="activity.color"
             :size="activity.size"
            :timestamp="activity.timestamp">
                 {{activity.content}}
           </el-timeline-item>
         </el-timeline>
      </el-dialog>
    </div>
</template>
<script>
import {getOrdersListData,getOrderExpressData} from '@/api/order.js'
import Pagination from '@/components/Pagination/index.vue'
import {formatDate} from '@/utils/auth.js'
import { regionData,CodeToText } from 'element-china-area-data'
export default {
     data(){
        // 自定义校验规则
        let checkTelnum = (rule,value,callback)=>{
          const regMobile=/^1([358][0-9]|4[579]|66|7[0135678]|9[89])[0-9]{8}$/
            if(regMobile.test(value)){
              callback()
            }
            else{
              callback(new Error('请输入正确的手机号!'))
            }
          };
         return{
           queryPara:{
               query:'',
               pagenum:1,
               pagesize:2,
           },
          totslNum:0,
          ordersLsit:[],
          options: regionData,
          editDialogVisible:false,
          showExpressProgress:false,
          ExpressProList:[
              {
                content: '支持使用图标',
                timestamp: '2018-04-12 20:46',
                size: 'large',
                type: 'primary',
                icon: 'el-icon-more'
              }, {
                content: '支持自定义颜色',
                timestamp: '2018-04-03 20:46',
                color: '#0bbd87'
              }, {
                content: '支持自定义尺寸',
                timestamp: '2018-04-03 20:46',
                size: 'large'
              }, {
                content: '默认样式的节点',
                timestamp: '2018-04-03 20:46'
             }],
           editAddressTemp:{
            addresscounty:[],
            addressDetail:''
            },
          rules: {
           addresscounty:[{required: true, message: '用户名不能为空', trigger: 'blur'},{min:1,max:20, message: '用户名长度在1-20位之间', trigger: 'blur'},],
           addressDetail: [{ required: true, message: '密码不能为空', trigger: 'blur' },{min:5,max:20, message: '用户名长度在3-20位之间', trigger: 'blur'},],
         },
        }
         
     },
     components:{Pagination},
     created() {
       this.getList()

     },
     methods:{
       getList(){
         getOrdersListData(this.queryPara).then((res)=>{
          if(res && res.status ===200)
          {
            console.log(res)
            this.totslNum =res.data.data.total
            this.ordersLsit= res.data.data.goods;
            console.log(this.ordersLsit)
          }
          else
          {
              this.$message.error('获取订单列表失败!')
          }
       }) 
       },
        //转换为标准格式时间
       dateTranslate(originVal){
        const dt = new Date(originVal)
        return formatDate(dt,'yyyy/MM/dd')
       },
   
      //  重置修改地址对话框内容
       resetEditDialog(){
         this.$refs['editOrderAddressForm'].resetFields();
       },
       editorOrderAddress(row){
          this.editDialogVisible =true;
       },
       editOrderAddressToDB(){

       },
       handleChange(arr){
         console.log(arr);
         console.log(CodeToText[arr[0]], CodeToText[arr[1]], CodeToText[arr[2]])
       },
       checkExpressPro(){
         this.showExpressProgress =true;
       },
      }
}
</script>
<style lang="less" scoped>
     .el-breadcrumb{
         margin: 10px 0px 20px 5px;
     }
     .block{
         margin: 10px 0 20px 0px;
         text-align: center;
     }
     .el-cascader{
       width: 100%;
     }
   .el-dialog{
     padding: 5px,10px,10px,5px;
     .el-input{
       width: 70%;
     }
    .dialog-footer{
         padding-top: 0px;
     }
   }
     

</style>