<template>
  <el-menu
      :show-timeout="200"
      :default-active="$route.path"
      :collapse="isCollapse"
      :background-color="variables.menuBg"
      :text-color="variables.menuText"
      :active-text-color="variables.menuActiveText"
      mode="vertical"
    >  
    <SidebarItem v-for="(route,index) in menulistdata" :key="index" :item='route' :base-path="route.path"></SidebarItem>
  </el-menu>
</template>
<script>
import { isExternal } from '@/utils/validate'
import variables from '@/styles/variables.scss'
import SidebarItem from './SidebarItem'
export default {
  name:'NavMenu',
  components: { SidebarItem },
  props:{
    menulistdata:{
      type:Array,
    },
    data(){
      return{
       
      }
    }
    
  },
  computed: {
    // routes() {
    //   return this.$router.options.routes
    // },
    variables() {
      return variables
    },
    isCollapse() {
      return false
    }
  }
}
</script>