<template>
    <div v-if="item.children" class="menu-wraper">
        <!-- 只有一个子菜单时-->
        <template v-if="hasOneShowingChild(item.children,item) && (!onlyOneChild.children||onlyOneChild.noShowingChildren)">
          <Applink :to="resolvePath(onlyOneChild.path)">
             <el-menu-item :index="resolvePath(onlyOneChild.path)" > 
                <item :title="onlyOneChild.authName" :icon="icons"></item>
             </el-menu-item>
           </Applink>
        </template>

        <!-- 有多个要展示的子菜单，递归遍历所有子菜单 -->
        <el-submenu v-else :index ="resolvePath(item.path)">
           <template v-slot:title>
               <item  :title ="item.authName" :icon="icons"></item>
           </template>
           <template v-for="child in item.children" :key='child'>
              <SidebarItem v-if="child.children "
                :is-nest="true"
                :item="child"
                :key="child.path"
                :base-path="resolvePath(child.path)"
                class="nest-menu"
                >
                <Applink :to="resolvePath(child.path)">
                  <el-menu-item :index="resolvePath(child.path)"> 
                    <item :title="child.authName" :icon="icons"></item>
                  </el-menu-item>
                </Applink>
              </SidebarItem>
           </template>
        </el-submenu>
    </div>
</template>
<script>
import path from 'path'
import { isExternal } from '@/utils/validate'
import Applink from './Link'
import Item from './Item'
export default {
  name:'SidebarItem', 
  props: {
     // route object
    item: {
      type: Object,
      required: true
    },
    isNest: {
      type: Boolean,
      default: false
    },
    basePath: {
      type: String,
      default: ''
    }
  },
  components:{Applink,Item},
  data() {
    return {
      onlyOneChild: null,
      icons:'userControl'
    }
  },
  methods:{
   hasOneShowingChild(children, parent){
    if(children.length ===1)
    {
        this.onlyOneChild = children[0]
        return true
    }
    // else if(children.length ===0)
    // {
    //   this.onlyOneChild ={...parent,path:'',noShowingChildren: true}
    //   return true
    // }
    return  false
   },
   resolvePath(routePath) {
     if (this.isExternalLink(routePath)) {
        return routePath
      }
      // console.log(routePath);
      return path.resolve(this.basePath, routePath)
    },
    // 外部链接
   isExternalLink(routePath) {
      return isExternal(routePath)
    }
 },
}
</script>