<template>
  <el-container >
    <el-header class="home_header">
        <div class="header_left">
            <img src="@/assets/homeLogo.png" alt="">
            <span>电商后台管理系统</span>
        </div>
       <el-button type="info" @click="logOut">退出</el-button>
    </el-header>
    <el-container>
       <el-aside class="home_aside" :width="isCollapse ? '64px':'200px'">
        <div class="collapse_Btn" @click="changeCollValue">三</div>
         <SideBarTem :sidebarList="menulist" :isCollapse='isCollapse'></SideBarTem>
       </el-aside>
       <el-main class="home_main">
         <router-view></router-view>
       </el-main>
    </el-container>
</el-container>
    
</template>
<script>
import { removeSessionStorage, TokenKey } from '@/utils/auth.js'
import {getMenuData} from '@/api/user.js'
// import Navmenu from './NavMenu/NavMenu'
import SideBarTem from './SidebarTem'
export default {
  data(){
      return{
       menulist:[],
       isCollapse:false,
      }
  },
  created() {
      this.getMenuList();
  },
  components:{SideBarTem},
  methods: {
    logOut() {
      removeSessionStorage(TokenKey)
      this.$router.push('/login')
    },
    getMenuList()
    {
        getMenuData().then((res)=>{
            if(res && res.data.meta.status === 200){
                this.menulist = res.data.data;
            }
        })
    },
    changeCollValue(){
        this.isCollapse = !this.isCollapse;
    }

  },
}
</script>

<style lang="less" scoped>
 .el-container{
     height: 100%;
     .el-header{
       height: 80px ;
       background-color:#373d41;
       display: flex;
       justify-content: space-between;
       align-items: center;
       .header_left{
        display: flex;
        color: #fff;
        // 子要素水平居中
        align-items: center;
        img{
           width: 60px;
           height: 60px;
         } 
         span{
             font-size: 20px;
            // // span内文字垂直居中，父组件dispaly：flex，
            //  align-self: center;
             padding-left: 10px;
         }
       }
     }
     .home_aside{
       background-color:#333744;
     }
     .home_main{
       background-color:#eaeff1;
     }
    .isCollapse{
        background-color: darkseagreen;
    }
    .collapse_Btn{
       color:#fff;
       text-align: center;
    }
 }

</style>