<template>
    <div >
      <el-menu 
          default-active="2"
          class="el-menu-vertical-demo"
          background-color="#333744"
          text-color="#fff"
          active-text-color="#409EFF"
          :unique-opened="true"
          :collapse="isCollapse"
          :collapse-transition='false'
          :router="true"
          >
        <el-submenu  v-for="(item) in sidebarList" :index="'/'+item.path" :key="item.id">
          <template v-slot:title>
           <i class="icon" :class="fontObj[item.id]"></i>
           <span class="menuTitle">{{item.authName}}</span>
           </template>
           <el-menu-item v-for="subItem in item.children" :index="'/'+subItem.path" :key="subItem.id">
              <template v-slot:title> 
                <i class="sub_icon" :class="fontObj[subItem.id]"></i>
                <span class="sunmenuTitle">{{subItem.authName}}</span>
              </template>
           </el-menu-item>
        </el-submenu>
      </el-menu>
    </div>
</template>

<script>
export default {
    props:{
        sidebarList:{
            type:Array,
        },
        isCollapse:{
            type:Boolean,
        }
    },
    data(){
        return{
           fontObj:{
               '125':'iconfont iconyonghuguanli',
                
               '103':'iconfont iconquanxian',
               '101':'iconfont iconshangpin',
               '102':'iconfont iconorder-',
               '145':'iconfont iconshujutongji',
               '110':'iconfont iconjiaose',
               '111':'iconfont iconjiaose',
               '112':'iconfont iconquanxianliebiao',
               '104':'iconfont iconshangpinliebiao',
               '115':'iconfont iconcanshu',
               '121':'iconfont iconqietu_huaban',
               '107':'iconfont iconorder-',
               '146':'iconfont iconshujubaobiao',               
               },
        }
    },
  methods: {
      handleOpen(key, keyPath) {
        // console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        // console.log(key, keyPath);
      }
    },
    SaveItemIndex(key, keyPath){
      console.log(key, keyPath)
    }

}
</script>
<style scoped>
.el-menu-vertical-demo{
  border-right:0;
}
.el-menu-item{
   border-right:0;
}
     .icon{
         width: 20px;
         height: 20px;
         margin-right: 5px;
     }
     .sub_icon{
         margin-right: 5px;
     }
</style>