<template>
    <div class="login-container">
        <div class="login_box">
           <div class="avatar_box">
               <img src="@/assets/logo.png" alt="">
           </div>
           <div class="from_box">
               <el-form :model="ruleForm" :rules="rules" ref="loginFormRef" label-width="100px" class="login_Form">
                 <el-form-item label="用户名" prop="username">
                     <!-- 使用阿里图标库 -->
                   <el-input prefix-icon="iconfont icondenglu" v-model="ruleForm.username"></el-input>
                 </el-form-item>
                 <el-form-item label="密码" prop="password">
                     <!-- 使用element-ui图标库 -->
                   <el-input prefix-icon="el-icon-unlock" v-model="ruleForm.password" type="password"></el-input>
                 </el-form-item>
                 <el-form-item class="btn">
                   <el-button class="btn_ok" type="primary" @click="submitForm('loginFormRef')">登陆</el-button>
                   <el-button class="btn_canle" @click="resetForm('loginFormRef')">重置</el-button>
                 </el-form-item>
               </el-form>
           </div>
        </div>
        <router-view></router-view>
    </div>
</template>
<script>
import {login} from '@/api/user.js'
import{setSessionStorage,setLocalStorage}from '@/utils/auth.js'
export default{
     data(){
         return{
           ruleForm:{
               username:'admin',
               password:'123456',
               },    
            rules: {
               username: [
               { required: true, message: '请输入用户名', trigger: 'blur' },
               { min: 1, message: '用户名不能为空', trigger: 'blur' }
              ],
              password: [
              { required: true, message: '请输入密码', trigger: 'blur' },
              { min: 6, message: '密码长度不得小于6位', trigger: 'blur' }
             ],
          }
       }
     },
     methods:{
        submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            login(this.ruleForm).then((res)=>{
                if(res.data.meta.status === 200){
                      this.$message({
                      showClose: true,
                      message: '登陆成功！',
                      type: 'success'
                     });
                     setSessionStorage('adminToken',res.data.data.token);
                     this.$router.push({path:'/home'});
                }
                else{
                    this.$message({
                      showClose: true,
                      message: '登陆失败，未获取到用户信息！',
                      type: 'warning'
                });
                }
            })
            
          } else {
             this.$message({
                      showClose: true,
                      message: '登陆失败，用户名密码格式错误！',
                      type: 'error'
                      });
              return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
     }
}
</script>
<style lang="less" scoped>
  .login-container{
      height: 100%;
      background-color:#2b4b6b;
  }
  .login_box{
      width: 450px;
      height: 300px;
      background-color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      border-radius: 3px;
  }
  .avatar_box{
      width: 130px;
      height: 130px;
      position: absolute;
      left: 50%;
      top:0;
      transform: translate(-50%,-50%);
      border: 1px solid #eee;
      border-radius: 50%;
      padding: 10px;
      box-shadow: 0 0 10px #ddd;
      background-color: #fff;
      img{
          width: 100%;
          height: 100%;
           border-radius: 50%;
          background-color: #eee;
    
      }
  }
  .from_box{
      position: absolute;
      top: 100px;
      width: 100%;
      text-align: center;
      .login_Form{
          width: 400px;
         .btn{
          .el-button {
           margin-top:8px ;
           margin-right: 25px;
           margin-left: 25px;
           height: 30px;
          }
      }
      }
      
  }
</style>
